/******************************************
COLORS :
    #067067;
    #87BFBA; 
    #16BFB1;
    #A8EDE7;  
    #D5E2E1;
    #4b4e4e;
*******************************************/
body,
html {
    overflow-x: hidden;
}

.main,
.main2,
body,
html {
    width: 100%;
    height: 100%;
    color: #D5E2E1;
}

:root {
    --user-bg: linear-gradient(to right, #10001e 0%, #10001e 100%);
    --user-bg2: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    --body-bg: linear-gradient(to top, #fa0000 0%, #ff0000 100%);
    --user-br: rgb(255, 0, 0);
    --user-hr: #ffffff;
    --user-ei: #1900ff;
    --kk: #fedc00;
}

body {
    background-image: var(--user-bg);
}

.hidden {
    display: none !important;
}

/******************************************
DROPDOWN SEARCH
*******************************************/



.Appp {
    font-family: sans-serif;
  }
  
  .dropdown {
    position: relative;
    color: #333;
    cursor: default;
  }
  
  .dropdown .arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: 0.3rem;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
  }
  
  .dropdown .arrow.open {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
  }
  
  .dropdown .selected-value input {
    line-height: 1.5;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    width: 100%;
    height: 50%;
  }
  
  .dropdown .options {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
  }
  
  .dropdown .options.open {
    display: block;
  }
  
  .dropdown .option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
  }
  
  .dropdown .option.selected,
  .dropdown .option:hover {
    background-color: #f2f9fc;
    color: #333;
  }
  

/******************************************
                HOMEPAGE
*******************************************/
.profile-container {
    display: flex;
    align-items: center;
    background-color: #19002f;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-field {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px;
    font-size: 16px;
    border-color: #ffffff;
    color: white;
    background-color: transparent; 
  }

  .text-field::placeholder {
    color: white;
  }
  
  .text-field:focus {
    outline: none;
  }
  

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
  }
  
  .flex-container > div {
    margin: 0px;
    padding: 0px;
  }
  
  .box1 {
    width: 20%;
    /* padding: 10px; */
  }
  
  .box2 {
    width: 60%;
    padding: 0;
  }

.postTitle {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 24px;
}

.ownerName {
    font-weight: 600;
    font-size: 18px;
}

.MuiCardContent-root:last-child{
    padding-top: 0px;
}
.MuiCardHeader-root:headerClass{
    padding:200px;
}

.headerClass{
    padding: 100px;
}

.create-post{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
}
.create-post-text{
    width: 100%;
    align-items: center;
    justify-content: center;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

.box3 {
	font-family: Montserrat, sans-serif;
    width: 20%;
    padding: 10px;
	
	display: flex;
	align-items: center;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;
}

.box3 h3 {
	margin: 10px 0;
    font-size: 0.8rem;
}

.box3 h6 {
	margin: 5px 0;
	text-transform: uppercase;
    font-size: 0.6rem;
}

.box3 p {
	font-size: 14px;
	line-height: 21px;
}

.container-card {
    max-width: 800px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.col {
    flex: 0 0 calc(33.333% - 10px); /* 33.333% width with 10px margin between columns */
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.card-container {
	border-radius: 5px;
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 120px;
	max-width: 100%;
	text-align: center;
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

/* Navbar.css */

/* General styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left : 40px;
    padding-top : 10px;
    padding-bottom : 10px;
    margin-bottom : 30px;
    background-color: #19002f;
    color: white;

  }
  
  /* Left side styles */
  .left-side {
    display: flex;
    align-items: center;
  }
  
  .logo {
    max-width: 60px; /* Set a maximum width for the logo */
    max-height: 40px; /* Set a maximum height for the logo */
    margin-right: 10px;
  }
  
  .search-bar {
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  /* Right side styles */
  .right-side {
    display: flex;
  }
  
  .button {
    max-height: 30px;
    margin-left: 10px;
    padding: 8px 15px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
}

.button:hover {
    background-color: white;
    color: black;
}


  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .left-side, .right-side {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .search-bar {
      width: 100%;
    }
  }
  
/******************************************
                SIDEBAR
*******************************************/    
.sidebar {
    --background: #9c88ff;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: transparent;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
    margin: 0;
    background: var(--background);
}

#nav-toggle:checked ~ #nav-header {
    width: calc(var(--navbar-width-min) - 16px);
}

#nav-toggle:checked ~ #nav-content,
#nav-toggle:checked ~ #nav-footer {
    width: var(--navbar-width-min);
}
  
  #nav-toggle:checked ~ #nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s;
  }
  
  #nav-toggle:checked ~ #nav-header label[for="nav-toggle"] {
    left: calc(50% - 8px);
    transform: translate(-50%);
  }
  
  #nav-toggle:checked ~ #nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary);
  }
  
  #nav-toggle:checked ~ #nav-header .nav-toggle-burger:before,
  #nav-toggle:checked ~ #nav-header .nav-toggle-burger::after {
    width: 16px;
    background: var(--navbar-light-secondary);
    transform: translate(0, 0) rotate(0deg);
  }
  
  #nav-toggle:checked ~ #nav-content .nav-button1 span {
    opacity: 0;
    transition: opacity .1s;
  }
  
  #nav-toggle:checked ~ #nav-content .nav-button1 .fas {
    min-width: calc(100% - 16px);
  }
  
  #nav-toggle:checked ~ #nav-footer #nav-footer-avatar,
  #nav-toggle:checked ~ #nav-footer label[for="nav-footer-toggle"] {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
  }
  
  #nav-bar {
    position: absolute;
    left: 1vw;
    top: 3vw;
    height: calc(100% - 2vw);
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
  }
  
  #nav-bar hr {
    margin: 0;
    position: relative;
    left: 16px;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--navbar-dark-secondary);
  }
  
  #nav-bar a {
    color: inherit;
    text-decoration: inherit;
  }
  
  #nav-bar input[type="checkbox"] {
    display: none;
  }
  
  #nav-header {
    position: relative;
    width: var(--navbar-width);
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width .2s;
  }
  
  #nav-header hr {
    position: absolute;
    bottom: 0;
  }
  
  #nav-title {
    font-size: 1.5rem;
    transition: opacity 1s;
  }
  
  label[for="nav-toggle"] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .nav-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--navbar-dark-primary);
    border-radius: 99px;
    transition: background .2s;
  }
  
  .nav-toggle-burger:before,
  .nav-toggle-burger::after {
    content: '';
    position: absolute;
    top: -6px;
    width: 10px;
    height: 2px;
    background: var(--navbar-light-primary);
    border-radius: 99px;
    transform: translate(2px, 8px) rotate(30deg);
    transition: .2s;
  }
  
  .nav-toggle-burger:after {
    top: 6px;
    transform: translate(2px, -8px) rotate(-30deg);
  }
  
  #nav-content {
    margin: 10px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width .2s;
  }
  
  #nav-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  #nav-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
  }
  
  #nav-content::-webkit-scrollbar-button {
    height: 16px;
  }
  
  #nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -54 - 16px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top .2s;
  }
  
  #nav-content-highlight:before,
  #nav-content-highlight::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
  }
  
  #nav-content-highlight:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
  }
  
  .nav-button1 {
    position: relative;
    margin-left: 16px;
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color .2s;
  }
  
  .nav-button1:hover {
    transition: opacity 1s;
  }
  
  .nav-button1 .fas {
    transition: min-width .2s;
  }
  
  @for $i from 1 through 8 {
    .nav-button1:nth-of-type(#{$i}):hover {
      color: var(--background); /* Change color on hover */
    }
  
    .nav-button1:nth-of-type(#{$i}) ~ #nav-content-highlight {
      top: ($i - 1) * 54 + 16px;
    }
  }
  
  #nav-bar .fas {
    min-width: 3rem;
    text-align: center;
  }
  
/******************************************
                NAVBAR
*******************************************/

.navbar-custom-color{
    color: #b586f8a4;
    font-size:16px;
}

.navbar-custom-color:hover {
    color: #ffffff !important;
    text-decoration: none;
}

.custom-nav {
    height: 8%;
}

.nav-item a {
    color: #b586f8a4 !important;
    font-size: 16px !important;
}

.nav-item a:hover {
    color: #ffffff !important;
}

/******************************************
                LOGIN
*******************************************/
.login-page {
    color: #fff;
    width: 100%;
    height: 80%;
    background-image: var(--user-bg);
    background-size: 400%;
    animation: bg-move 9000ms infinite ease-in-out alternate;
    display: grid;
    align-items: center;
    border-color: #fff;
}

.login-page-content {
    display: table;
    width: 25%;
    height: max-content;
    margin: auto;
}

.login-page-content-inner {
    display: table-cell;
    vertical-align: middle;
}

.center-login-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 20px;
  }

.nav-item {
    color: #b586f8a4 !important;
}

.nav-item:hover {
    color: #ffffff !important;
    text-decoration: none;
}
  

/******************************************
                REGISTER
*******************************************/

.register-page {
    color: #b586f8a4;
    width: 100%;
    height: max-content;
    background-image: var(--user-bg);
    background-size: 400%;
    animation: bg-move 9000ms infinite ease-in-out alternate;
    padding-top: 50px;
}

.register-page-content {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    height: 100%;
    margin: 0 auto;
}

.register-page-photo{
    height: 460px;
}


.register-page-photo img {
    max-width: 100%;
    max-height: 100%;
    padding: 0px 0px 0px 100px;
}

.register-page-photo {
    background-color: rgb(0, green, 0, 0.9)
}

/******************************************
                PARALLAX IMG
*******************************************/
.parallax {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/******************************************
                BUTTONS
*******************************************/
.btn-general {
    padding: 10px 80px 10px 80px;
}

.btn-login {
    border: 2px solid #b586f8a4;
    color: #b586f8a4;
    width: 100%;
}

.btn-login:hover {
    color: #ffffff;
    background-color: #b586f8a4;
}



/******************************************
                FORMS
*******************************************/
.form-legend {
    padding: 15px 0px 0px 0px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.login-page .form-box {
    padding: 20px;
}

.login-page .form-legend {
    border-bottom: none !important;
    background-color: #b586f8a4;
    margin-top: 10px;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 500;
    line-height: 2pt;
    margin-bottom: 20px;
}

.form-box {
    height: 100%;
    border-left: none;
    padding: 0px 50px 10px 120px;
}

/* ostao sam saaam */

.input-label {
    font-weight: 600;
}

.error {
    font-size: 12px;
    margin-top: 2px;
    padding: 3px 10px;
    border: 1px solid #e09090;
    background-color: #ec9393;
    color: #ff0f0f;
}

.radio-error {
    position: absolute;
}

.custom-input {
    border-radius: 4px;
    border: 1px solid #4b4e4e;
    color: #4b4e4e;
}

.custom-input:hover,
.custom-input:focus {
    color: #4b4e4e;
}

.form-box form {
    position: relative;
    height: 100%;
}

.login-page .custom-input {
    border-bottom: 2px solid #067067;
    border-top: none;
    border-right: none;
    border-left: none;
}

.login-page .custom-input:hover,
.login-page .custom-input:focus {
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-left: none;
}

/*================= input file =======*/
.file-input,
.radio-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile,
.file-input-label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    padding: 5px 10px;
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 1rem;
}

.file-input-desc {
    color: #b586f8a4;
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 5px;
    padding: 4px 10px;
    margin-bottom: 2rem;
}

.inputfile:focus,
.file-input-label,
.inputfile,
.file-input-label:hover {
    background-color: #b586f8a4;
}

.inputfile,
.file-input-label,
.radio-label {
    cursor: pointer;
}

.input-error {
    border: 1px solid #ff0f0f !important;
}

/************** radio input ******************/
.custom-radio {
    display: inline-block;
    position: relative;
    padding-left: 70px;
    padding-right: 30px;
}

.gender-radio {
    widows: 200px;
    height: 200px;
    padding: 20px;
}

.radio-label img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.radio-label img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.colored {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%) !important;
}

/*********** change user image ***********/
.change-image-label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************************************
                GENRAL
*******************************************/
.point-effect:hover {
    cursor: pointer;
}

.centered-content {
    position: absolute;
    left: 50%;

}

.centered-content-inner {
    position: relative;
    left: -50%;
}

.text-helper {
    color: #ffffff;
    font-size: 14px;
    margin: 10px 2px;
    opacity: .6;
}

/******************************************
                images
*******************************************/
.register-img-wrapper img {
    height: 300px;
    width: 300px;
    margin: 0px auto;
    display: block;
}

/******************************************
                Alert
*******************************************/
.error-alert {
    background-color: #f7b0b0;
    color: #960b0b;
}

.success-alert {
    background-color: #a7e68a;
    color: #065c55;
}

.alert {
    position: fixed;
    top: 50px;
    letter-spacing: .5px;
    font-size: 14px;
    font-weight: 200;
    padding: 5px 5px;
    border-radius: 0px;
    border: 2px solid rgb(224, 219, 219);
    width: 500px;
    text-align: center;
    right: calc(50% - 250px);
    left: calc(50% - 250px);
    z-index: 5;
}

/******************************************
                UserInfo
*******************************************/

.user-info-box {
    color: #4b4e4e;
    background-image: var(--user-bg);
    width: 100%;
    height: 92%;
}

.user-info-box-inner {
    padding: 2rem;
    background-image: var(--user-bg);
    border-radius: .5rem;
}

.user-info-header {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info-main {
    grid-area: sec1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
}

.user-image-wrap {
    cursor: pointer;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--user-br);
    position: relative;
}

.change-image-box {
    position: absolute;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    opacity: 0;
}

.user-image-wrap:hover .change-image-box {
    opacity: 1;
}

.user-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-username {
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px;
}

.user-information {
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    border: 2px solid var(--user-br);
    border-radius: 6px;
    margin: .5rem;
}

.user-information .label {
    text-transform: capitalize;
}

.user-information .content {
    margin-left: auto;
    margin-right: 10px;
}

.user-information .edit-icon {
    font-size: 24px;
    color: var(--user-ei);
    visibility: hidden;
    opacity: 1;
}

.user-information:hover {
    background-color: var(--user-hr);
}

.user-information:hover .edit-icon {
    background-color: var(--user-hr);
    visibility: visible;
    animation: show 500ms ease-in;
}

/*************> Input <*********************/
.user-info-input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--user-hr);
    border: 2px solid var(--user-br);
    border-radius: 6px;
}

.user-info-input {
    padding: 10px;
    background-color: var(--user-hr);
    font-size: 24px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.user-info-input-slelect {
    padding: 10px;
    background-color: #fff;
    font-size: 24px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    text-align: center;
}

.user-info-input-sex {
    padding: 0px;
    background-color: var(--user-hr);
    border-bottom: 1px solid #fff;
    font-size: 24px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    text-align: center;
}

.user-info-input-sex:hover {
    background-image: var(--user-bg);
}

.user-info-btn i {
    margin: 0 1rem;
    cursor: pointer;
    transition: 200ms transform cubic-bezier(0.25, 0.1, 0.72, 1.76);
}

.user-info-btn .fa-check:hover {
    color: #16BFB1;
    transform: scale(2);
}

.user-info-btn .fa-remove:hover {
    color: rgb(221, 69, 69);
    transform: scale(2);
}

/*********** image changer modul *********/
.modul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.module-inner {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    width: 60vh;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-image: var(--user-bg);
    border: 2px solid var(--user-hr);
    padding: 1rem;
}

.ReactCrop {
    margin: .5rem 0;
    width: 90%;
}

/******************************************
                ColorChanger
*******************************************/
.color-changer {
    cursor: pointer;
    position: fixed;
    top: 100px;
    left: -150px;
    height: 65px;
    transition: all 500ms ease-in;
    z-index: 8;
}

.color-changed {
    left: 0;
}

.color-generator i {
    font-size: 60px;
    text-align: center;
    background-image: var(--user-bg);
    -webkit-animation: bg-move 2500ms infinite ease-in-out alternate, spin 1000ms infinite linear;
    animation: bg-move 2500ms infinite ease-in-out alternate, spin 1000ms infinite linear;
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-item {
    display: inline-block;
    width: 50px;
    height: 45px;
    opacity: .6;
    border: 2px solid #000;
}

.color-item:hover {
    opacity: 1.5;
}

.c1 {
    background-color: #4668d8;
}

.c2 {
    background-color: #92fe9d;
}

.c3 {
    background-color: #fefc92;
}

/******************************************
                Animate Page
*******************************************/
.animate-page {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--user-bg);
    z-index: 10;
}

.remove-animate {
    transform: translateY(-100%);
    transform-origin: bottom;
    transition: transform 400ms ease-in-out;
}

.animate-page i {
    font-size: 150px;
    animation: spin 1000ms infinite linear;
    background-color: var(--user-hr);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.charging {
    width: 60%;
    height: 5px;
    background-color: var(--user-hr);
    animation: charge 950ms ease-in infinite;
    transform-origin: left;
    margin-top: 30px;
}

/******************************************
                Animation
*******************************************/
@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes bg-move {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

@keyframes charge {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

/**************** Media Queries ****************/
@media(max-width : 1000px) {
    .login-page-content {
        width: 60%;
    }

    .gender-radio {
        width: 127px;
        height: 127px;
    }
}

@media(max-width : 600px) {
    .register-page-photo {
        display: none;
    }

    .register-page-content {
        display: block;
    }

    .login-page-content {
        width: 95%;
    }

    .alert {
        width: 300px;
        right: calc(50% - 150px);
        left: calc(50% - 150px);
    }
}

@media(max-width : 500px) {
    html {
        font-size: 14px;
    }

    .user-info-main {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    }

    .module-inner {
        width: 80vw;
        height: 60vh;
    }

    .login-page-content {
        width: 95%;
    }

    .btn-general {
        padding: 10px 40px 10px 40px;
        border-radius: 0;
    }

    .gender-radio {
        width: 115px;
        height: 115px;
    }

    .alert {
        width: 250px;
        right: calc(50% - 125px);
        left: calc(50% - 125px);
    }
}

@media (max-width: 600px) {
    #nav-header {
        width: var(--navbar-width-min);
    }

    #nav-content {
        width: var(--navbar-width-min);
    }

    #nav-header #nav-title {
        opacity: 0;
        pointer-events: none;
        transition: opacity .1s;
    }

    #nav-toggle:checked ~ #nav-content .nav-button1 span {
        opacity: 0;
        transition: opacity .1s;
    }
}